# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\izik\Google Drive (izikf89@gmail.com)\degree_studies\PTM2\projects\ex5\ptm2_ex5\project_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
